<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/main.css">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:each="product : ${products}" >
  <h2 th:text=${product.name} ></h2>
  <p th:text="'Price: $' + ${product.price}"></p>
  <p th:text="${product.caffeineRatingString()} + ' (' + ${product.caffeineRating} + ')'" th:class=${product.setFontColor()} ></p>
  <p>
    <a th:href=" '/products/show/' + ${product.id}">Product Details</a>
  </p>
</div>
</body>
</html>