<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add a Product</title>
</head>
<body>
<h2>Add a new Product</h2>
<form action="#" th:action="@{/products}" th:object="${product}" method="POST">
  <div>
    <label th:for="name">Product Name:</label>
    <input type="text" th:field="*{name}" />
  </div>
<!--  For Price: input type="number" was limiting price input to whole numbers and I didn't like that.
I used type="text" with a placeholder to guide the user, in order to allow decimals -->
  <div>
    <label th:for="price">Price: $</label>
    <input type="text" placeholder="0.00" th:field="*{price}" />
  </div>
  <div>
    <label th:for="caffeineRating">Caffeine Rating (0-2):</label>
    <input min="0" max="2" type="number" th:field="*{caffeineRating}" />
  </div>
  <div>
    <label th:for="description">Description:</label>
    <input type="text" th:field="*{description}" />
  </div>

  <div>
    <input type="submit" value="Add Product"/>
  </div>
</form>
</body>
</html>